@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #dadada;
}

.post-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    gap: 20px;
}

.post-card-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.post-card{
        padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px #00000012;
}

.profile-name h2{
    font-weight: 500;
    font-size: 14px;
    color: gray;
}

.icon-verify{
    color: #3B82F6;
}

.profile-info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

img.profile-pic {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.profile-name h1 {
        font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: normal;
    line-height: 1;
    gap: 7px;
} 

.tags {
    display: flex;
    gap: 15px;
    color: #0033c5;
}

.profile-like-comment-outer{
    display: flex;
    justify-content: space-between;
}

.profile-like-comment{
        display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.profile-like-comment svg, .save-btn svg {
    height: 20px;
}

.profile-like-comment > div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.save-btn{
        display: flex;
    align-items: center;
    gap: 5px;
}

.desc {
        font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.5px;
    color: #242424;
}

.post-img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 350px;
  width: 100%;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* INNER SHADOW */
.post-img::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  pointer-events: none;
  box-shadow: inset 0 20px 40px rgba(0, 0, 0, 0.5);
}

.profile-details{
    display: flex;
    gap: 10px;
}

.post-img img{
    width: 100%;
}