@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');
@import "tailwindcss";

.custom-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.title {
    font-family: "Engagement", cursive;
}